// Call to Action Component

.cta-wrapper {
    // display: flex;
    // align-items: center;
    background-color: #4140b0;
    color: white;
    // padding: 50px;
    justify-content: space-between;
    border-radius: 5px;
}

.cta-content {
    // margin: 0px 15px;

    h3 {
        color: white;
    }
}

.cta-button {
    // margin: 0px 15px;
}